<div>
  <div>
    <h1>
      Here are your spending habits!
    </h1>

    <div>
        <a href="/delete_conversation/<%= @the_conversation.id %>">
          Delete conversation
        </a>
    </div>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_conversation.created_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<hr>
